/* Os estilos são aplicados em "cascata", um acima do outro. A ordem e especificidade do seletor importam no CSS. */
a {
  color: black;
  font-size: 32px;
}
a {
  color: tomato;
}

/* Seletor: Seleciona o elemento(s) que deve ser estilizado. no exemplo é (a)*/
/* Bloco CSS:Engloba as propriedades {} que serão aplicadas ao seletor. */
/* Propriedade: Define o que será alterador. no exemplo é (color,font-size)*/
/* Valor: Define o valor do novo estilo. no exemplo é (black,32px,tomato) */
